@media (max-width: 1040px) {
    .menu {
        font-size: 18px;
    }

    .h1_top {
        font-size: 80px;
    }

    .h1_bottom {
        font-size: 50px;
        line-height: .3;
    }

    .h1_date {
        font-size: 20px;
    }
}



@media (max-width: 930px) {
    .h1_top {
        font-size: 75px;
        line-height: 140%;
    }

    .h1_bottom {
        font-size: 45px;
        line-height: .05;
    }

    .h1_date {
        font-size: 20px;
    }

    .menu {
        font-size: 17px;
    }
}



@media (max-width: 760px) {
    .menu {
        font-size: 16px;
    }

    .menu_list {
        gap: 20px;
    }

}

@media (max-width: 768px) {
    .program_inner-photo-4 {
        height: 543px;
    }

    .about_us {
        padding: 15px 0;
    }
}

@media (max-width: 750px) {
    .documents_title {
        padding-top: 6px;
    }
}


@media (max-width: 720px) {
    .menu {
        font-size: 16px;
    }

    .menu_list {
        gap: 20px;
    }

    .h1_top {
        font-size: 59px;
    }

    .h1_bottom {
        font-size: 24px;
        margin-left: 223px;
    }

    .h1_date {
        font-size: 18px;
    }
}



@media (max-width: 600px) {
    .gallery_item-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .trip_inner_text {
        font-size: 16px;
    }
}




@media (max-width: 585px) {
    .menu {
        height: 40px;
    }

    .menu_btn {
        display: inline-block;
        width: 30px;
        height: 20px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        cursor: pointer;
        z-index: 5;
    }

    .menu_btn span {
        display: block;
        height: 2px;
        background-color: #fff;
    }

    .menu_btn::after,
    .menu_btn::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }

    .menu_btn::before {
        top: 0;
    }

    .menu_btn::after {
        bottom: 0;
    }

    .menu_list {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-200%);
        transition: all .5s;
        text-align: center;
    }

    .menu_list.menu_list-active {
        transform: translateY(47%);
    }

    .menu_item {
        font-size: 17px;
        margin-bottom: 15px;
    }


    .h1_top {
        font-size: 45px;
    }

    .h1_bottom {
        font-size: 25px;
        line-height: .03;
        margin-left: 169px;
    }

    .h1_date {
        width: 265px;
    }

    .social {
        margin-left: auto;
    }
}



@media (max-width: 530px) {
    .header_inner {
        padding-top: 10px;
    }

    .h1_top {
        font-size: 35px;
        margin-top: 210px;
    }

    .h1_bottom {
        font-size: 20px;
        line-height: .3;
        margin-left: 135px;
    }

    .h1_date {
        width: 265px;
    }

    .documents_title {
        padding-top: 5px;
    }

    .gallery_title {
        padding-top: 6px;
    }
}



@media (max-width: 505px) {
    .gallery_title {
        padding-top: 6px;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 25px;
    }

    .menu_item {
        margin-bottom: 25px;
    }

    .gallery_item-img {
        width: 100%;
        height: 100%;
    }

    .program_inner_text {
        width: 374px;
        /* background-color: transparent; */
    }

    .program_text-list {
        font-size: 14px;
        text-align: center;
    }

    .program_text {
        font-size: 14px;
        padding: 10px;
    }

    .program_text_title {
        margin-top: 0;
    }

    .program_text-p {
        padding: 0 5px;
    }

    .program_inner-photo-1,
    .program_inner-photo-2,
    .program_inner-photo-3,
    .program_inner-photo-4,
    .program_inner-photo-5,
    .program_inner-photo-6,
    .program_inner-photo-7,
    .program_inner-photo-8,
    .trip_inner_text {
        display: none;
    }

    .day_box-1 {
        background-color: #f8c99231;
    }

    .program_title,
    .price_title,
    .bonus_title,
    .gallery_title,
    .documents_title {
        height: 75px;
        padding-top: 25px;
    }

    .documents_title {
        padding: 15px;
    }

    .price_container {
        padding: 15px 20px;
        text-align: center;
    }

    .doc_telo-text {
        text-align: center;
    }

    .program_text_title {
        font-size: 30px;
        margin-top: 10px;
    }

    .program_text-dayplan {
        font-size: 20px;
    }

    .about_us {
        padding: 0;
    }

    .about_profile-1,
    .about_profile-2 {
        width: 417px;
        height: 240px;
    }

    .about_us-name {
        margin-bottom: 7px;
        padding-top: 7px;
    }

    .about_us-info {
        padding-left: 10px;
    }

    .about_us-info-2 {
        padding: 0 10px 0 5px;
    }

    .footer_social {
        max-width: 350px;
        gap: 13px;
    }
}

@media (max-width: 376px) {
    .title {
        font-size: 23px;
    }
}

@media (max-width: 320px) {
    .header_inner {
        padding-top: 10px;
    }

    .menu {
        padding: 0 10px;
    }

    .h1_top {
        font-size: 29px;
    }

    .h1_bottom {
        font-size: 20px;
    }

    .h1_date {
        font-size: 18px;
    }

    .program_title {
        margin-bottom: 10px;
    }

    .program_title,
    .price_title,
    .bonus_title,
    .documents_title,
    .gallery_title {
        height: 65px;
        padding-top: 21px;
    }

    .documents_title {
        padding-top: 10px;
    }

    .program_inner_text {
        width: 320px;
    }

    .program_text_title {
        margin-top: 0;
        font-size: 29px;
        padding-top: 10px;
    }

    .program_text {
        font-size: 14px;
        padding: 10px;
    }

    .program_inner-photo-1,
    .program_inner-photo-2,
    .program_inner-photo-3,
    .program_inner-photo-4,
    .program_inner-photo-5,
    .program_inner-photo-6,
    .program_inner-photo-7,
    .trip_inner_text {
        display: none;
    }

    .program_text-list {
        font-size: 14px;
        text-align: center;
    }

    .gallery_item-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    video {
        width: 100%;
        height: 100%;
    }

    .bonus {
        margin-bottom: 0px;
    }

    .bonus_inner,
    .documents_inner {
        display: block;
        width: 300px;
        height: auto;
        padding: 10px;
    }

    .telo_one {
        width: 285px;
        margin-bottom: 20px;
    }

    .telo_one_title {
        font-size: 22px;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .telo_one_text {
        margin: 0;
        font-size: 15px;
    }

    .doc_telo {
        width: 300px;
        padding-bottom: 20px;
    }

    .gallery_title {
        padding-top: 8px;
    }

    .about_profile-1,
    .about_profile-2 {
        width: 429px;
        height: 256px;
    }

    .about_us-name {
        max-width: 150px;
        font-size: 22px;
        line-height: 93%;
        margin-bottom: 5px;
        padding-top: 5px;
    }

    .about_us-info {
        padding-left: 10px;
    }

    .about_us-info-2 {
        padding: 0 10px 0 5px;
    }


    element.style {
        width: 325px;
    }

    .footer {
        font-size: 14px;
    }

    .footer_social {
        max-width: 300px;
        gap: 10px;
    }

}